@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

#homepage{
    background-color: lightcyan;
    font-family: 'Rubik', sans-serif;
}

#addpage{
    background-color: lightcyan;
    font-family: 'Rubik', sans-serif;
}

.toptitle{
    padding: 10px;
    text-align: center;
}

.search-container{
    
    position: relative;
    display: flex;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.search-box{

    width: 100%;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;

}

.search-box input{
    background: transparent;
    flex: 1;
    border: 0;
    outline:  none;
    padding: 24px 20px;
    font-size: 20px;
}

::placeholder{
    color: lightblue;
}

.search-box button i{
    width: 25px;
}

.search-box button{
    font-size: 20px;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
    cursor: pointer;

}

.locations{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    
}

.locations div{
    text-align: center;
    padding: 15px;
    background-color: lightblue; 
    border-radius: 10px;
}


.locations div:nth-child(even){
    background-color: lightgrey;
}



.locations button{
    border: none;
    background: none;
    font-size: 30px;
}

.current{
    
    text-align: center;
    border-radius: 15px;
    
}

.home{
    text-align: left;
    margin-left: 150px;
    font-size: 30px;
    border-radius: 20px;
    background-color: lightgrey;
    margin-right: 150px;
    margin-left: 150px;
    padding: 5px 50px 5px 50px;

}

.home h2, i{
    display: inline;
}

.home i{
    position: relative;
    float: right;
    bottom: 55px;
    padding-right: 50px;
    font-size: 150px;
}

.week_forcast{

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

.week_forcast div{
    text-align: center;
    padding: 15px;
    
}

.week_forcast div:nth-child(n+2){
    border-left: 5px solid;
    border-color: black;

}


footer{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}